@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 60%;
  
}
body{
    font-size: 1.6rem;
    background-color: aqua;
    background-image: linear-gradient(315deg,aqua 0%,white 100%);
    height: 100vh;
    margin: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 'Poppins', sans-serif;
}
#container{
    background-color: white;
    width: 60rem;
    min-height: 30vh;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 0.5rem,lightgoldenrodyellow;
      
}
#container > *{
    margin-left:150px;
    padding: 1rem;
    font-size: 20px;
    
}
